.searchLg.searchLg {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
._NavItemButton._NavItemButton {
  align-self: initial;
  background-color: #d0d5dd;
}
.settings1.settings1 {
  width: 20px;
  height: 20px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
._NavItemButton2._NavItemButton2 {
  align-self: initial;
  background-color: #d0d5dd;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.avatar.avatar.avatar {
  background-image:/* webpackIgnore: true */ url('/assets/avatar2.jpeg');
}
._NavItemBase._NavItemBase {
  height: initial;
  flex: 1;
  background-color: #eaecf5;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.text {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemBase2._NavItemBase2 {
  height: initial;
  flex: 1;
  background-color: #eaecf5;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.text2 {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemBase3._NavItemBase3 {
  height: initial;
  flex: 1;
  background-color: #b3b8db;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.text3 {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemBase4._NavItemBase4 {
  height: initial;
  flex: 1;
  background-color: #eaecf5;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.text4 {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemBase5._NavItemBase5 {
  height: initial;
  flex: 1;
  background-color: #eaecf5;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.text5 {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._TabButtonBase._TabButtonBase {
  left: 260px;
  top: 38px;
}
.text6 {
  color: #667085;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._TabButtonBase2._TabButtonBase2 {
  left: 500px;
  top: 39px;
}
.text7 {
  color: #667085;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._TabButtonBase3._TabButtonBase3 {
  left: 20px;
  top: 38px;
}
.text8 {
  color: #6941c6;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemDropdownBase._NavItemDropdownBase {
  left: 1007px;
  top: 20px;
  width: 140px;
}
._NavItemBase6._NavItemBase6._NavItemBase6 {
  height: min-content;
  background-color: #eaecf0;
}
.text9 {
  color: #101828;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.headerNavigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 82px;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfd;
  overflow: hidden;
  box-shadow: inset 0px -1px 0px #98a2b3;
}
.container {
  width: 1366px;
  height: 82px;
  justify-content: space-between;
  align-items: center;
  gap: 738px;
  padding: 0 20px;
}
.content {
  width: min-content;
  height: min-content;
}
.logo {
  width: 93px;
  height: min-content;
  align-self: flex-start;
}
._9VAN {
  color: #3e4784;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 135px;
  height: 29px;
  flex-direction: column;
}
.content2 {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 16px;
}
.actions {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 4px;
}
.search {
  width: 528px;
  align-self: stretch;
  flex-direction: column;
  padding: 0 24px;
}
.inputDropdown {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.inputWithLabel {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}
.input {
  height: min-content;
  align-self: stretch;
  padding: 10px 14px;
  outline: solid 1px #fff;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.content3 {
  height: min-content;
  flex: 1;
  align-self: flex-start;
  align-items: center;
  gap: 8px;
}
.text10 {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.content4 {
  position: absolute;
  left: 0;
  top: 82px;
  width: 245px;
  height: 942px;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fcfcfd;
  box-shadow: inset -1px 0px 0px #98a2b3;
}
.nav {
  width: 245px;
  height: 940px;
  flex-direction: column;
  padding: 32px 0 0;
}
.navigation {
  height: 309px;
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
  padding: 0 16px;
}
.header_content {
  position: absolute;
  left: 245px;
  top: 82px;
  width: 1195px;
  height: 76px;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #a6a6a6;
  background-color: #fff;
  overflow: hidden;
}
.content5 {
  position: absolute;
  left: 560px;
  top: 349px;
  width: 487px;
  height: 426px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.rectangle3256 {
  position: absolute;
  left: 78px;
  top: 33px;
  width: 365px;
  height: 299px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle3256.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hienTaiKhongCoBaiNaoCham {
  color: #344054b2;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 147px;
  top: 346px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
