.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  height: 667px;
  flex-direction: column;
  align-items: flex-start;
}
.indoorShotHappyStudentMaleWith {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('/assets/indoorShotHappyStudentMaleWith.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
