.chevronUp.chevronUp {
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
._NavItemBase._NavItemBase {
  padding: 8px 12px 8px 48px;
}
.text {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemBase2._NavItemBase2 {
  padding: 8px 12px 8px 48px;
}
.text2 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemBase3._NavItemBase3 {
  padding: 8px 12px 8px 48px;
}
.text3 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._NavItemBase4._NavItemBase4 {
  padding: 8px 12px 8px 48px;
}
.text4 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: 272px;
  height: min-content;
  flex-direction: column;
  gap: 8px;
}
.menu {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 4px;
  padding: 0 0 8px;
}
