.root {
  position: absolute;
  left: -167.0455%;
  right: 255.6818%;
  top: -4187.1805%;
  bottom: 4187.1805%;
  width: 10px;
  height: 10px;
  flex-direction: column;
  border-radius: 6px;
  background-color: #101828;
  overflow: hidden;
}
